# Django
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
*.so

# Environments
venv/
env/
.venv/

htmlcov/
.htmlcov/

# Database
db.sqlite3
*.db

# Tu archivo específico
progress.txt

# Media files
media/

# Secrets
.env
secrets.json
